body {
  background: #ececec;
  padding: 20px;
  font-family:Helvetica, sans-serif;
}

#app {
  background: #fff;
  border-radius: 3px;
  padding: 20px;
  transition: all 0.1s;
}

li {
  margin: 12px 0;
}

h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

del {
  color: #9ad4ba;
}

#vue-colors {
  color:  #42b883;
}
p {
  color: #35495e;
}
